.social-login 
    button.social-login--github 
        a(href=routes.github)
            span 
                i.fab.fa-github 
            | Continue With Github 
    a.social-login--kakao(href=routes.kakao)
        img(src="https://developers.kakao.com/tool/resource/static/img/button/login/full/en/kakao_login_medium_wide.png")