mixin video_player(video={})
    .video-player#js-video-player
        video(src=video.src)
        .video-player__controls
            .video-player__column
                span#js-volume-btn
                    i.fas.fa-volume-up
                span 
                    span#current_time 00:00:00
                    |/
                    span#total_time 10:00:00
                input.video-player__volume#js-volume(type="range", min=0, max=1, step=0.1, value=0.5)
            .video-player__column 
                span#js-play-btn
                    i.fas.fa-play
            .video-player__column
                span#js-full-screen
                    i.fas.fa-expand 