extends ./layouts/main

block content
    .form-container
        form(action=`/users${routes.edit_profile}`, method='post', enctype="multipart/form-data") 
            .file-upload
                label(for="avatar") Avatar
                input(type="file", id="file", name="avatar", accept="image/*") 
            input(type="text", name="name", placeholder="Name", value=logged_user.name)
            input(type="text", name="email", placeholder="Email", value=logged_user.email)
            input(type="submit", value="Update Profile")