extends ./layouts/main
include ./mixins/video_block

block content 
    .search__header
        h3 Searching By: #{searching_by}
    .search__videos
        if videos.length === 0
            h5 No Videos Found
        else
            each video in videos
                +video_block(video)
